<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bookstore API Suite" verbose="1" parallel="false">

    <test name="Bookstore Tests">
        <classes>
            <class name="tests.BooksTest"/>
            <class name="tests.BooksEdgeTest"/>
            <class name="tests.AuthorsTest"/>
            <class name="tests.AuthorsEdgeTest"/>

        </classes>
    </test>

</suite>